@{
    ViewData["Title"] = "Strona Główna";
}

<h2>Witamy w Naszej Bibliotece Online!</h2>

<p>
    Witaj na stronie głównej naszej biblioteki online. Jesteśmy dumni z naszej obszernej kolekcji książek i chcielibyśmy podzielić się z Tobą najnowszymi aktualnościami i informacjami o nadchodzących wydarzeniach.
</p>

<h3>Najnowsze Aktualności</h3>

<p>
    <strong>Zapowiedź Nowego Tytułu!</strong><br>
    Cieszymy się ogłosić, że wkrótce dołączy do naszej kolekcji nowa książka od renomowanego autora. Bądź z nami, aby być na bieżąco!
</p>

<p>
    <strong>Konkurs Czytelniczy!</strong><br>
    Przygotowaliśmy dla Ciebie specjalny konkurs czytelniczy. Sprawdź nasze wyzwania czytelnicze i zdobądź szansę na fantastyczne nagrody!
</p>

<h3>Nadchodzące Wydarzenia</h3>

<p>
    <strong>Spotkanie Autorskie</strong><br>
    Planujemy spotkanie z autorem naszej najnowszej pozycji. Będzie to doskonała okazja, aby dowiedzieć się więcej o procesie twórczym i zadać pytania autorowi.
</p>

<p>
    <strong>Dzień Książki</strong><br>
    Przygotowujemy się do obchodów Dnia Książki. Znajdź czas na świętowanie z nami i korzystaj z promocji na wybrane tytuły!
</p>

<p>
    Serdecznie zapraszamy do eksploracji naszej kolekcji, uczestnictwa w konkursach oraz udziału w nadchodzących wydarzeniach. Ciesz się z nami światem literatury!
</p>
